body { margin: 0; padding: 0;}
div { box-sizing: border-box; }

/* a 링크 초기화 */
a {color: inherit; text-decoration: inherit;}
a:hover {color: #2698cb;}
/* 폰트 초기화 */
body, input, textarea, select, button, table {
  font-family: "Noto Sans", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
em, address {font-style: normal;}
ul, li, ol {list-style: none;}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: inherit;}
button {border: none;}

.header { 
  width: 100%;
  display: flex;
  background-color: #e6e6e6;
}
.header .main-logo {
  background-image: url(./images/jokebear.jpg);
}